@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

input[type=text] {
  width: 80%;
}

.distance:before {
  content: "📍 "
}

.details-header:before {
  content: "👉 "
}

#outletResults {
  white-space: pre;
}

.is-empty {
  border: 2px solid red;
  border-radius: 4px;
}

.help-block, .is-empty {
  color: red;
}
