.distance:before {
    content: "📍 "
}

.details-header:before {
    content: "👉 "
}

#outletResults {
    white-space: pre;
}

.is-empty {
    border: 2px solid red;
    border-radius: 4px;
}

.help-block, .is-empty {
    color: red;
}
